
body {
    background: linear-gradient(135deg, #ff9a9e, #fad0c4); /* dégradé rose → pêche */
    font-family: 'Segoe UI', Arial, sans-serif;
    color: #222;
    margin: 0;
    padding: 0;
    text-align: center;
}


h1 {
    color: hsl(24, 22%, 95%); 
    margin-top: 50px;
    font-size: 2.5em;
    text-shadow: 2px 2px #ffe066;
}


p {
    color: #1e90ff; 
    font-size: 1.2em;
    margin-top: 20px;
}


button {
    background-color: #890aad; 
    color: #000;
    border: none;
    padding: 12px 24px;
    margin-top: 30px;
    font-size: 1em;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #ff6f61; 
    color: #fff;
}
